html
  header
    link(rel="stylesheet", href="./style.css")
  body
    .cookie
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      input.increment(type="checkbox")
      .shop
        div 商店
        .items
          .item1
            span Special Cookie 1：5枚
            input#item1(type="checkbox")
            button
              span
              label(for="item1")
          .item2
            span Special Cookie 2：10枚
            input#item2(type="checkbox")
            button
              span
              label(for="item2")
    .result
