html
  header
    link(rel="stylesheet", href="./style.css")
  body
    .cookie
      each _ in Array(100)
        input.increment(type="checkbox")

      - var item_number = 4

      each _, index in Array(item_number)
        input(id="item" + (index + 1) type="checkbox")

      #shop
        div 商店
        .items
          each _, index in Array(item_number)
            div(class="item" + (index + 1))
              span
              button
                span 購入
                label(for="item" + (index + 1))
    .result
