:root {
  --left: 500px;
}

body {
  background-color: #cccccc;
}

.result::after {
  content: "クッキー：" counter(cookies) "枚";
}

.cookie {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
  position: relative;
  background-color: chocolate;
  counter-reset: cookies 0;
  > input {
    margin: 0;
    position: absolute;
    left: var(--left);
    appearance: none;
    border: none;
  }
  > input.increment {
    width: 100%;
    height: 100%;
    inset: 0;
    border-radius: 50%;
    cursor: pointer;
    &:first-child {
      left: 0;
    }
    &:checked {
      counter-increment: cookies 1;
      left: var(--left);
      + input.increment:not(:checked) {
        left: 0;
        + input.increment:not(:checked) {
          left: var(--left);
        }
      }
    }
  }
}

#shop {
  position: absolute;
  top: 0;
  left: 200px;
  width: 200px;
  border: 1px dotted black;
  padding: 10px;
  > .items {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    > div {
      > input {
        position: absolute;
        left: var(--left);
        appearance: none;
      }
      > button {
        width: 100%;
        background-color: gray;
        cursor: not-allowed;
        border: none;
        padding: 0;
        position: relative;
        height: 30px;
        > label {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: var(--left);
          cursor: pointer;
        }
      }
    }
  }
}

@mixin shop-item($index, $item-name, $price) {
  #shop > .items > .item#{$index} > span::after {
    content: $item-name + "：" + $price + "枚"
  }

  $selector: ".cookie > ";
  @for $i from 1 through $price {
    @if $i < $price {
      $selector: $selector + "input.increment:checked + ";
    } @else {
      $selector: $selector + "input.increment:checked ~";
    }
  }
  #{$selector} #shop > .items > .item#{$index} > button {
    background-color: skyblue;
    > label {
      left: 0;
    }
  }
  #item#{$index}:checked {
    counter-increment: cookies -#{$price};
    ~ #shop > .items > .item#{$index} {
      > button {
        > span::after {
          content: "済み";
        }
        > label {
          left: var(--left);
        }
      }
    }
  }
}

@include shop-item(1, "Special Cookie 1", 5);
@include shop-item(2, "Special Cookie 2", 10);
